<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Fit and Sit - wellcome {{loggedInUser}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="" ng-show="logged">
                    <a class="page-scroll" href="#programs">Programs</a>
                </li>
                <li class="">
                    <a class="page-scroll" href="/#!/proizvodi">Products</a>
                </li>
                <li class="" ng-show="logged">
                    <a class="page-scroll" href="/#!/korisnici">Users</a>
                </li>
                <li class="">
                    <a class="page-scroll" href="/#!/vijesti">News</a>
                </li>
                <li class="" ng-show="logged">
                    <a class="page-scroll" href="" ng-click="profile()">My Profile</a>
                </li>
                <li class="">
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li class="" ng-hide="logged">
                    <a class="page-scroll" href="/#!/login">Login</a>
                </li>
                <li class="" ng-show="logged">
                    <a class="page-scroll" href="" ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">Postojeći korisnici</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Role</th>
                            <th>Reg date</th>
                            <th>Odobren</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="k in korisnici">
                            <td><a ng-click="findUser(k.id)"><span>{{ k.userName }}</span></a></td>
                            <td>{{ k.ime }}</td>
                            <td>{{ k.prezime }}</td>
                            <td>{{ k.email }}</td>
                            <td>{{ k.kontaktTelefon }}</td>
                            <td>{{ k.rola.nazivRole }}</td>
                            <td>{{ k.datumRegistracije }}</td>
                            <td>{{k.odobren}}</td>
                            <td><a href="" ng-click="delUser(k.id)"><span>del</span></a><a href="" ng-show="k.odobren == 0" ng-click="accUser(k.id)"><span>accept</span></a> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
    
    <div class="container">

        <form class="form-horizontal" id="contact_form">
        <fieldset>

        <!-- Form Name -->
            <legend></legend>
            
            <div class="text-center">
                <h2 class="section-heading">Novi korisnik</h2>
                <hr class="primary">
            </div>
            
        <!-- Text input-->

        <div class="form-group">

          <label class="col-md-4 control-label">Ime</label>  
          <div class="col-md-4 inputGroupContainer">
              
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              
          <input  required name="first_name" placeholder="Ime" class="form-control" ng-model="ime" type="text">
            </div>
          </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
          <label class="col-md-4 control-label" >Prezime</label> 
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input required name="last_name" placeholder="Prezime" class="form-control"  type="text" ng-model="prezime">
            </div>
          </div>
        </div>

          <div class="form-group"> 
          <label class="col-md-4 control-label">Adresa</label>
            <div class="col-md-4 selectContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                <input required name="adress" placeholder="Adresa stanovanja" class="form-control"  type="text" ng-model="adresa">       
          </div>
        </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label">E-Mail</label>  
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input required name="email" placeholder="E-Mail Address" class="form-control"  type="text" ng-model="email">
            </div>
          </div>
        </div>

            <!-- Text input-->

        <div class="form-group">
          <label class="col-md-4 control-label">Kontakt telefon</label>  
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
          <input required name="Broj telefona" placeholder="(+387)" class="form-control" type="text" ng-model="tel">
            </div>
          </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
          <label class="col-md-4 control-label">Korisničko ime</label>  
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input  required name="user_name" placeholder="Username" class="form-control"  type="text" ng-model="username">
            </div>
          </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
          <label class="col-md-4 control-label" >Lozinka</label> 
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input required name="user_password" placeholder="Password" class="form-control"  type="password" ng-model="password">
            </div>
          </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
          <label class="col-md-4 control-label" >Ponovljenja lozinka</label> 
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input required name="confirm_password" placeholder="Confirm Password" class="form-control"  type="password" ng-model="repPassword">
            </div>
          </div>
        </div>
            
        <div class="form-group">
          <label class="col-md-4 control-label" >Rola</label> 
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>         
            <select 
                    ng-model="selectedRola" 
                    ng-options="rola.nazivRole for rola in roleDataSource">  
            </select>
        </div>
          </div>
        </div>
        
        <div class="text-center">
                <p style="color:red">{{errorPoruka}}</p>
            </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4"><br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button ng-click="dodajNovogKorisnika(ime, prezime, adresa, email, tel, username, password, repPassword)" type="button" class="btn btn-info" >Dodaj korisnika</button>
          </div>
        </div>
        </fieldset>
        </form>

</div>
</section>