<body>
    <a href="/#!/proizvodi/insert" ng-show="admin">Novi proizvod</a><br>
    <a href="/#!/proizvodi/list" ng-show="admin">Promijeni proizvode</a>
<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Fit and Sit - wellcome {{loggedInUser}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="" ng-show="logged">
                    <a class="page-scroll" href="/#!/programs/list">Programs</a>
                </li>
                <li class="" ng-show="logged">
                    <a class="page-scroll" href="/#!/proizvodi">Products</a>
                </li>
                <li class="">
                    <a class="page-scroll" href="#about">Users</a>
                </li>
                <li class="">
                    <a class="page-scroll" href="/#!/vijesti">News</a>
                </li>
                <li class="">
                    <a class="page-scroll" href="#services">Contact</a>
                </li>
                <li class="">
                    <a class="page-scroll" href="#contact">Portfolio</a>
                </li>
                <li class="" ng-hide="logged">
                    <a class="page-scroll" href="/#!/login">Login</a>
                </li>
                <li class="" ng-show="logged">
                    <a class="page-scroll" href="" ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Katalog proizvoda</p>
            <div class="list-group">
                <a href="" class="list-group-item" ng-click="prikaziSve()">All</a>
                <a href="" class="list-group-item" ng-repeat="x in programi" ng-click="filtriraj(x.programID)">{{x.naziv_programa}}</a>
            </div>
        </div>

            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="proizvod in proizvodi">
                    <div class="thumbnail">
                        <img src="{{proizvod.slika}}" alt="">
                        <div class="caption">
                            <h4><a href="" ng-click="productDetails()">{{proizvod.naziv_proizvoda}}</a></h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>

</div>
<!-- /.container -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright © SitAndFit 2017</p>
            </div>
        </div>
    </div>
</footer>
<!-- /.container -->










</body>